body {
    background-color: rgb(192, 226, 255);
    align-items: center;
    background-image: url("stars.jpg");
    background-size: 100%;
}

h1 {
    color: #000000;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;

    font-weight: 600;
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);

}

p {
    color: #FFFF;
    font-family: fantasy;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    color: #004f99;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    font-weight: 600;
    text-shadow: -3px 0 rgb(0, 0, 0), 0 3px rgb(0, 0, 0), 3px 0 rgb(0, 0, 0), 0 -3px rgb(rgb(0, 0, 0));
}


.wholePiano {

    background-color: #E0E0E0;

    position: absolute;
    align-self: center;
    left: 15%;
    width: 70%;
    top: 40%;
    bottom: 0;
    text-align: center;

}

.buttonWhite {
    border-style: groove;
    border-color: #000000;
    border-width: 5px;
    vertical-align: top;

    /*makes the button rounded*/
    border-radius: 3px;

    color: white;
    padding: 200px 40px;
    text-align: center;
    text-decoration-color: black;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    -webkit-text-fill-color: black;
    box-shadow: 0 10px #616161;
}

.buttonWhite:hover {
    background-color: #bdbdbd;

}

.buttonWhite:active {
    background-color: #bdbdbd;
    box-shadow: 0 5px #202020;

    /*makes button drop down towards shadow*/
    transform: translateY(5px);
}

.buttonBlack {
    border-style: groove;
    background-color: #000000;
    border-color: #000000;
    border-width: 5px;
    vertical-align: top;

    z-index: 9;

    /*makes the button rounded*/
    border-radius: 3px;

    color: rgb(0, 0, 0);
    padding: 125px 30px;
    text-align: center;
    text-decoration-color: black;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    -webkit-text-fill-color: black;
    box-shadow: 0 10px #616161;
}

.buttonBlack:hover {
    background-color: #222222;

}

.buttonBlack:active {
    background-color: #000000;
    box-shadow: 0 5px #202020;

    /*makes button drop down towards shadow*/
    transform: translateY(5px);
}