body {
    background-color: rgb(192, 226, 255);
    align-items: center;
    background-image: url("stars.jpg");
    background-size: 100%;
}

.dark-mode {
    background-color: black;
  }

h1 {
    color: #000000;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;

    font-weight: 600;
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);

}

p {
    color: #FFFF;
    font-family: fantasy;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    color: #ffffff;
    font-family:cursive;
    font-size: 100px;
    font-weight: 600;
}

.h2-dark-mode {
    color: #E0E0E0;
    text-shadow: #E0E0E0;
}

h3 {
    color: #000000;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: 200;
}

.headingDiv {

	position: absolute;
	text-align: center;
	left: 25%;
	top: 5%;
	width: 50%;

}

.darkModeDiv {

    position: absolute;
    align-self: center;
    left: 90%;
    top: 5%;

}

.whiteKeys {

    /*background-color: #E0E0E0;*/

    position: absolute;
    align-self: center;
    left: 12%;
    top: 30%;
    bottom: 0;
    text-align: center;
    z-index: 1;

}


.blackKeysM1 {

    background-color: #E0E0E0;
    left: 2.8%;
    top: 0%;
    position: absolute;
    align-self: center;
    text-align: center;
    z-index: 2;

}

.blackKeysM2 {

    background-color: #E0E0E0;
    left: 7.7%;
    top: 0%;
    position: absolute;
    align-self: center;
    text-align: center;
    z-index: 2;

}

.blackKeysM3 {

    background-color: #E0E0E0;
    left: 17.1%;
    top: 0%;
    position: absolute;
    align-self: center;
    text-align: center;
    z-index: 2;

}

.blackKeysM4 {

    background-color: #E0E0E0;
    left: 22%;
    top: 0%;
    position: absolute;
    align-self: center;
    text-align: center;
    z-index: 2;

}

.blackKeysM5 {

    background-color: #E0E0E0;
    left: 26.8%;
    top: 0%;
    position: absolute;
    align-self: center;
    text-align: center;
    z-index: 2;

}

.blackKeys1 {

    background-color: #E0E0E0;
    left: 36.3%;
    top: 0%;
    position: absolute;
    align-self: center;
    text-align: center;
    z-index: 2;

}

.blackKeys2 {

    background-color: #E0E0E0;
    left: 41%;
    top: 0%;
    position: absolute;
    align-self: center;
    text-align: center;
    z-index: 2;

}

.blackKeys3 {

    background-color: #E0E0E0;
    left: 50.6%;
    top: 0%;
    position: absolute;
    align-self: center;
    text-align: center;
    z-index: 2;

}

.blackKeys4 {

    background-color: #E0E0E0;
    left: 55.4%;
    top: 0%;
    position: absolute;
    align-self: center;
    text-align: center;
    z-index: 2;

}

.blackKeys5 {

    background-color: #E0E0E0;
    left: 60.1%;
    top: 0%;
    position: absolute;
    align-self: center;
    text-align: center;
    z-index: 2;

}

.blackKeysP1 {

    background-color: #E0E0E0;
    left: 69.6%;
    top: 0%;
    position: absolute;
    align-self: center;
    text-align: center;
    z-index: 2;

}

.blackKeysP2 {

    background-color: #E0E0E0;
    left: 74.5%;
    top: 0%;
    position: absolute;
    align-self: center;
    text-align: center;
    z-index: 2;

}

.blackKeysP3 {

    background-color: #E0E0E0;
    left: 84%;
    top: 0%;
    position: absolute;
    align-self: center;
    text-align: center;
    z-index: 2;

}

.blackKeysP4 {

    background-color: #E0E0E0;
    left: 88.7%;
    top: 0%;
    position: absolute;
    align-self: center;
    text-align: center;
    z-index: 2;

}

.blackKeysP5 {

    background-color: #E0E0E0;
    left: 93.5%;
    top: 0%;
    position: absolute;
    align-self: center;
    text-align: center;
    z-index: 2;

}

.buttonWhite {
    border-style: groove;
    border-color: #000000;
    border-width: 5px;
    vertical-align: top;

    /*makes the button rounded*/
    border-radius: 3px;

    color: white;
    padding: 200px 40px;
    text-align: center;
    text-decoration-color: black;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    -webkit-text-fill-color: black;
    box-shadow: 0 10px #616161;
}

.buttonWhite:hover {
    background-color: #bdbdbd;

}

.buttonWhite:active {
    background-color: #bdbdbd;
    box-shadow: 0 5px #202020;

    /*makes button drop down towards shadow*/
    transform: translateY(5px);
}

.buttonBlack {
    border-style: groove;
    background-color: #000000;
    border-color: #000000;
    border-width: 5px;
    vertical-align: top;

    z-index: 9;

    /*makes the button rounded*/
    border-radius: 3px;

    color: rgb(0, 0, 0);
    padding: 125px 30px;
    text-align: center;
    text-decoration-color: black;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    -webkit-text-fill-color: black;
    box-shadow: 0 10px #616161;
}

.buttonBlack:hover {
    background-color: #222222;

}

.buttonBlack:active {
    background-color: #000000;
    box-shadow: 0 5px #202020;

    /*makes button drop down towards shadow*/
    transform: translateY(5px);
}




/*darkMode Button*/

.buttonDarkMode {
    border-style: groove;
    border-color: #000000;
    border-width: 5px;
    vertical-align: top;

    /*makes the button rounded*/
    border-radius: 100%;

    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration-color: black;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    -webkit-text-fill-color: black;
    box-shadow: 0 10px #616161;
}

.buttonDarkMode:hover {
    background-color: #bdbdbd;

}

.buttonDarkMode:active {
    background-color: #bdbdbd;
    box-shadow: 0 5px #202020;

    /*makes button drop down towards shadow*/
    transform: translateY(5px);
}